.react-accessible-keyboard-row {
    --bg-color: transparent;
    --base-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid var(--base-color);
    color: var(--base-color);
    background-color: var(--bg-color);
    cursor: pointer;
    overflow: hidden;
}

#react-accessible-keyboard-backspace {
    width: 50%!important;
}

#react-accessible-keyboard-shift {
    width: 25%!important;
}

#react-accessible-keyboard-delete {
    width: 25%!important;
}

#react-accessible-keyboard-autocomplete1 {
    width: 33%!important;
}

#react-accessible-keyboard-autocomplete2 {
    width: 34%!important;
}

#react-accessible-keyboard-autocomplete3 {
    width: 33%!important;
}

#react-accessible-keyboard-submit {
    margin-left: 10px;
}

#react-accessible-keyboard-textarea {
    --base-color: #666;
    max-width: 90%;
    width: 70%;
    border: 1px solid var(--base-color);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: solid solid solid solid;
    border-width: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.2s ease 0s;
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
}